#about[b-ezrf6h4eti]{
    display: flex;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    font-size: 2rem;
    margin: auto;
}

#about_header[b-ezrf6h4eti]{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about_name[b-ezrf6h4eti]{
    text-decoration-line: underline;
    font-size: 3rem;
}

#logos[b-ezrf6h4eti]{
    display: flex;
}

#about_container[b-ezrf6h4eti]{
    margin: auto;
    margin-bottom: 4rem;
    width: 60vw;
    border-radius: 1rem;
    padding: 1rem;
    border: 0.1rem solid gray;
    border-radius: 1rem;
}

img[b-ezrf6h4eti]{
    object-fit: contain;
    width: 6rem;
}
