.experience_box[b-iq09xe2ti9]{
    text-align: center;
    font-weight: bold;
    width: 60vw;
    margin: auto;
}

.company[b-iq09xe2ti9]{
    font-size: 2rem;
    color: #055F18;
}

.summary[b-iq09xe2ti9]{
    font-size: 1.5rem;
}