.newspaperContainer[b-uol6y3lfcd] {
    width: 100vw;
    height: fit-content;
    background-image: url("grain.svg");
}

.newsPaperMainHeader[b-uol6y3lfcd] {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.mainHeaderTitle[b-uol6y3lfcd] {
    text-align: center;
    font-family: "Falkosta";
    font-size: 6rem;
}

.date[b-uol6y3lfcd] {
    display: flex;
    flex-wrap: wrap;
    font-family: "Wildtern";
    font-size: 2rem;
}

@media screen and (max-width: 768px) {
    .newsPaperMainHeader[b-uol6y3lfcd]{
        flex-direction: column;
    }
}

.borderLine[b-uol6y3lfcd] {
    border: 0.25rem solid #757163;
    margin-left: 1rem;
    margin-right: 1rem;
}

.titles[b-uol6y3lfcd] {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    font-family: "Wildtern";
    font-size: 1.5rem;
    flex-wrap: wrap;
}

.title[b-uol6y3lfcd] {
    width: 25%;
    text-align: center;
}

@media screen and (max-width: 768px) {
    .titles[b-uol6y3lfcd] {
        flex-direction: column;
        justify-content: center;
    }
    .title[b-uol6y3lfcd]{
        width: 100%;
    }

}

.linkLogo[b-uol6y3lfcd] {
    height: 6rem;
    padding-bottom: 1rem;
}

.linkLogo:hover[b-uol6y3lfcd] {
    height: 6rem;
    border-bottom: solid black 1px;
}