#header_container[b-uol6y3lfcd]{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    padding: 1rem;
}
#nav_options[b-uol6y3lfcd]{
    display: flex;
    gap: 3rem;
}
