@media screen and (min-width: 768px) {
    .introBodyContainer[b-diq9kmjm6v]{
        display: grid;
        grid-template-columns: 1fr 1fr;
        grid-template-rows: 1fr;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .introBodyContainer[b-diq9kmjm6v]{
        display: grid;
        flex-wrap: wrap;
    }
}


.aboutMeWords[b-diq9kmjm6v]{
    border-right: solid black 1px;
}

.wildternHeader[b-diq9kmjm6v]{
    font-family: "Wildtern";
    font-size: 3rem;
}

.aboutMe[b-diq9kmjm6v]{
    margin-top: 1rem;
    padding: 2rem;
    text-align: center;
}

.specialTaylor[b-diq9kmjm6v]{
    font-family: "Falkosta";
    font-size: 4rem;
}

.taylorDescription[b-diq9kmjm6v]{
    font-family: "Wildtern";
    font-size: 2rem;
}

.imageBox[b-diq9kmjm6v]{
    border: solid 1px black;
    aspect-ratio: 1 / 1;
    width: 70%;
    margin: auto;
}

.technologies[b-diq9kmjm6v]{
    padding-top: 5rem;
    display: flex;
    justify-content: space-between;
    text-align: center;
}

.subheader[b-diq9kmjm6v]{
    font-family: "Wildtern";
    font-size: 2rem;
    width: 45%;
}