.projectsContainer[b-g2xt9y02h9]{
    font-family: "Wildtern";
    background-image: url("pureGrain.svg");
}
.projectsHeader[b-g2xt9y02h9]{
    font-size: 8rem;
    padding: 5rem;
}
.projectFlex[b-g2xt9y02h9]{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.projectsGrid[b-g2xt9y02h9]{
    width: 25%;
    aspect-ratio:  1 / 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.project[b-g2xt9y02h9]{
    aspect-ratio: 1 / 1;
    width: 100%;
    border: solid 1px black;
}

.projectDisplay[b-g2xt9y02h9]{
    width: 40%;
    border: solid 1px black;
    aspect-ratio: 1 / 1;
    padding: 1rem;
}