.projectsContainer[b-g2xt9y02h9]{
    font-family: "Wildtern";
    background-image: url("pureGrain.svg");
}
.projectsHeader[b-g2xt9y02h9]{
    font-size: 8rem;
    padding: 5rem;
}
.projectFlex[b-g2xt9y02h9]{
    display: flex;
    justify-content: space-around;
    align-items: center;
    align-content: center;
}
.projectsGrid[b-g2xt9y02h9]{
    width: 25%;
    aspect-ratio:  1 / 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.projectDisplay[b-g2xt9y02h9]{
    display: flex;
    width: 40%;
    border: solid 1px black;
    border-radius: 2rem;
    aspect-ratio: 1 / 1;
    padding: 1rem;
    object-fit: cover;
}

.projectDisplay[b-g2xt9y02h9]{
    display: block;
}

.projectDisplay .details[b-g2xt9y02h9]{
    text-align: center;
    height: fit-content;

}
.projectDisplay .details .title[b-g2xt9y02h9]{
    font-size: 2rem;
}

.projectDisplay .details .description[b-g2xt9y02h9]{
    font-family: "Falkosta";
}

.second > .grid[b-g2xt9y02h9]{
    display: grid;
    grid-template-columns: 70% 30%;
}

.projectDisplay > .second > .grid > .projectImg[b-g2xt9y02h9]{
    border: solid 1px black;
    border-radius: 2rem;
    aspect-ratio: 1 / 1;
    width: 90%;
    margin: auto;
}

.second[b-g2xt9y02h9]{
    margin-top: 2rem;
}

.gizmos[b-g2xt9y02h9]{
    display: flex;
    flex-direction: column;
}

.techs[b-g2xt9y02h9]{
    display: grid;
    grid-template-columns: 1fr 1fr;
}