#tech-stack-container[b-5z0bwbrpu9]{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
}
li[b-5z0bwbrpu9]{
    list-style-type: none;
}

.tech_box[b-5z0bwbrpu9]{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    gap: 2rem
}

.logos[b-5z0bwbrpu9]{
    width: 3rem;
    object-fit: contain;
}


#language_container[b-5z0bwbrpu9]{
    color: #295964;
}

.tech_title[b-5z0bwbrpu9]{
    font-size: 2rem;
    font-family: "Courier Prime Bold";
}