/* _content/PersonalWebsite/Components/Pages/About.razor.rz.scp.css */
#about[b-ezrf6h4eti]{
    display: flex;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    font-size: 2rem;
    margin: auto;
}

#about_header[b-ezrf6h4eti]{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about_name[b-ezrf6h4eti]{
    text-decoration-line: underline;
    font-size: 3rem;
}

#logos[b-ezrf6h4eti]{
    display: flex;
}

#about_container[b-ezrf6h4eti]{
    margin: auto;
    margin-bottom: 4rem;
    width: 60vw;
    border-radius: 1rem;
    padding: 1rem;
    border: 0.1rem solid gray;
    border-radius: 1rem;
}

img[b-ezrf6h4eti]{
    object-fit: contain;
    width: 6rem;
}
/* _content/PersonalWebsite/Components/Pages/ExperienceBox.razor.rz.scp.css */
.experience_box[b-iq09xe2ti9]{
    text-align: center;
    font-weight: bold;
    width: 60vw;
    margin: auto;
}

.company[b-iq09xe2ti9]{
    font-size: 2rem;
    color: #055F18;
}

.summary[b-iq09xe2ti9]{
    font-size: 1.5rem;
}
/* _content/PersonalWebsite/Components/Pages/Experiences.razor.rz.scp.css */
.experience_title[b-rswi9b2jel]{
    padding: 2rem;
    font-size: 2rem;
    font-family: "Courier Prime Bold";
}
/* _content/PersonalWebsite/Components/Pages/Home.razor.rz.scp.css */
#header_container[b-uol6y3lfcd]{
    display: flex;
    justify-content: space-between;
    font-size: 2rem;
    font-family: 'Courier New', Courier, monospace;
    padding: 1rem;
}
#nav_options[b-uol6y3lfcd]{
    display: flex;
    gap: 3rem;
}
/* _content/PersonalWebsite/Components/Pages/TechStack.razor.rz.scp.css */
#tech-stack-container[b-5z0bwbrpu9]{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
}
li[b-5z0bwbrpu9]{
    list-style-type: none;
}

.tech_box[b-5z0bwbrpu9]{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    gap: 2rem
}

.logos[b-5z0bwbrpu9]{
    width: 3rem;
    object-fit: contain;
}


#language_container[b-5z0bwbrpu9]{
    color: #295964;
}

.tech_title[b-5z0bwbrpu9]{
    font-size: 2rem;
    font-family: "Courier Prime Bold";
}
