<div id = "about">
    I'm a versatile Full Stack Engineer that focuses
    on building scalable, efficient web applications. 
I also prioritize integrating interactive features 
to create dynamic and engaging user experiences.
</div>