#about{
    display: flex;
    border: 1px solid gray;
    border-radius: 1rem;
    width: 60vw;
    height: fit-content;
    flex-wrap: wrap;
    font-size: 3rem;
    font-family: 'Courier New', Courier, monospace;
}
