<div id="about_container">
    <div id = "about_header">
        <div id="about_name">
            <b>Taylor Nguyen</b>
        </div>
        <div id = "logos">
            <img src="github_logo.png"/>
            <img src="linkedin.png"/>
        </div>
    </div>
    <div id="about">
        I'm a versatile Full Stack Engineer that focuses
        on building scalable, efficient web applications.
        I also prioritize integrating interactive features
        to create dynamic and engaging user experiences.
    </div>
</div>
