#about{
    display: flex;
    width: 100%;
    height: fit-content;
    flex-wrap: wrap;
    font-size: 2rem;
    margin: auto;
}

#about_header{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#about_name{
    text-decoration-line: underline;
    font-size: 3rem;
}

#logos{
    display: flex;
}

#about_container{
    margin: auto;
    margin-bottom: 4rem;
    width: 60vw;
    border-radius: 1rem;
    padding: 1rem;
    border: 0.1rem solid gray;
    border-radius: 1rem;
}

img{
    object-fit: contain;
    width: 6rem;
}
