<div id="experiences">
    <p class="experience_title">
        Work Experiences
    </p>
    <div id="experience_box_container">
        <ExperienceBox Company="WISE Cities" Location="Fairfax, VA" Dates="May 2023 - Sep 2023" Summary=@WISESummary/>
        <ExperienceBox Company="Johns Hopkins University" Location="Baltimore, MD" Dates="Oct 2021 - May 2024" Summary=@ITSummary/>
    </div>
</div>

@code{
    public String[] WISESummary = {"Styled and maintained responsive user interfaces with React Material UI, CSS, HTML, Node, Express, and JavaScript",};
    public String[] ITSummary = {"Installed, upgraded, and troubleshot software applications on 200+ machines, ensuring students and staff could seamlessly use them out-of-the-box, enhancing user experience and minimizing downtime."};
}