<div class="experience_box">
    <div class="company">
        @Company
    </div>
    <div class="location">@Location</div>
    <div class="dates">@Dates</div>
    @foreach(string bullet in @Summary){
        <div class="summary">@bullet</div>
    }
    
</div>

@code{
    [Parameter] public required string Company {get; set;}
    [Parameter] public required string Location {get; set;}
    [Parameter] public required string Dates {get; set;}

    [Parameter] public required String[] Summary {get; set;}
}