@page "/"
@rendermode InteractiveServer


<div class="newspaperContainer">
    <div class="newsPaperMainHeader">
        <div class="logos">
            <a href="https://github.com/TaylorTayTyT"><img src="github_logo.png" class="linkLogo"></a>
            <a href="http://www.linkedin.com/in/taylor-nguyen-07ab92190"><img src="linkedin.png" class="linkLogo"/></a>
        </div>
        <div class="mainHeaderTitle">
            The Taylor Nguyen Times
        </div>
        <div class="date">
            @date
        </div>
    </div>
    <div class="borderLine">
    </div>
    <div class="titles">
        <div class="title volume">
            Vol 22
        </div>
        <div class="title jobTitle">
            Full Stack Developer
        </div>
        <div class="title">
            taylornguyen904@gmail.com
        </div>
    </div>
    <div class="borderLine">
    </div>

    <IntroBody/>


</div>
<Projects/>

@code {
    String date = DateTime.Now.ToString("dddd, MMMM dd, yyyy");

}