@page "/"

<div id = "header_container" class="header_container">
    <div class="title">taylor nguyen</div>
    <div id = "nav_options">
        <div>about</div>
        <div>experiences</div>
    </div>
</div>
<About/>
<TechStack/>
<Experiences/>