#header_container{
    display: flex;
    justify-content: space-between;
    font-size: 4rem;
    font-family: 'Courier New', Courier, monospace;
    padding: 1rem;
}
#nav_options{
    display: flex;
    gap: 3rem;
}
