<div class="introBodyContainer">
    <div class="aboutMe aboutMeWords">
        <div class="wildternHeader">
            Who is <u>that</u> coder?
        </div>
        <img>
        <div class="taylorDescription">
            <span class="specialTaylor">Taylor Nguyen</span> is armed and dangerous. he is a powerful full stack
            mage bent on injecting our world with
            interactivity and creativity.
        </div>

        <div class="technologies">
            <div class="languages subheader">
                Languages
            </div>
            <div class="cloud subheader">
                Cloud Software
            </div>
        </div>

    </div>
    <div class="aboutMe aboutMePhoto">
        <div class="wildternHeader">
            Have you seen this developer?
        </div>
        <div class="imageBox">
            <img>
        </div>
    </div>
</div>