<div class="projectsContainer">
    <div class="projectsHeader">
        Crimes Committed
    </div>
    <div class="projectFlex">
        <div class="projectsGrid">
            <div class="project">
                project
            </div>
            <div class="project">
                project
            </div>
            <div class="project">
                project
            </div>
            <div class="project">
                project
            </div>
        </div>
        <div class="projectDisplay">
            display
        </div>
    </div>
</div>