.projectsContainer{
    font-family: "Wildtern";
    background-image: url("pureGrain.svg");
}
.projectsHeader{
    font-size: 8rem;
    padding: 5rem;
}

@media screen and (min-width: 768px) {
    
    .projectFlex{
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }

}
@media screen and (max-width: 768px) {
    .projectFlex{
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
}
.projectsGrid{
    width: 25%;
    aspect-ratio:  1 / 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

.projectDisplay{
    display: flex;
    width: 40%;
    border: solid 1px black;
    border-radius: 2rem;
    padding: 1rem;
    object-fit: cover;
}

.projectDisplay{
    display: block;
    background-color: #FFDCA8;
    border: solid 0.5rem black;
    height: fit-content;
}

.projectDisplay .details{
    text-align: center;
    height: fit-content;
    font-family: "Falkosta";
    line-height: 3rem;
    padding: 1rem;
}
.projectDisplay .details .title{
    font-size: 4rem;
}

.projectDisplay .details .description{
    font-size: 1rem;
}

.second > .grid{
    display: grid;
    grid-template-columns: 70% 30%;
}

.projectDisplay > .second > .grid > .projectImg{
    border: solid 1px black;
    border-radius: 2rem;
    aspect-ratio: 1 / 1;
    width: 90%;
    margin: auto;
}

.second{
    
}

.gizmos{
    display: flex;
    flex-direction: column;
}

.techs{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.techs img{
    max-width: 100%;
}

.chart img {
    padding-top: 1rem;
    width: 100%;
}

.links{
    display: flex;
    padding-top: 1rem;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.links a{
    cursor: pointer;
}

.github{
    width: 70%;
    word-break: break-word;
}