#tech-stack-container{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    justify-items: center;
}
li{
    list-style-type: none;
}

.tech_box{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 2rem;
    gap: 2rem
}

.logos{
    width: 3rem;
    object-fit: contain;
}


#language_container{
    color: #295964;
}

.tech_title{
    font-size: 2rem;
    font-family: "Courier Prime Bold";
}