@font-face {
    font-family: "Wildtern";
    src: url("The Wildtern Regular.otf");
}

@font-face {
    font-family: "Falkosta";
    src: url("Falkosta.otf");
}

:root{
    --newspaper-background-color: #F5EED2;
}
html{
    overflow-x: hidden;
}