@font-face {
    font-family: "Wildtern";
    src: url("The Wildtern Regular.otf");
}

@font-face {
    font-family: "Falkosta";
    src: url("Falkosta.otf");
}

:root {
    --newspaper-background-color: #F5EED2;
}

html {
    overflow-x: hidden;
}

.newspaperContainer {
    width: 100vw;
    height: fit-content;
    background-image: url("grain.svg");
}

.newsPaperMainHeader {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.mainHeaderTitle {
    text-align: center;
    font-family: "Falkosta";
    font-size: 6rem;
}

.date {
    display: flex;
    flex-wrap: wrap;
    font-family: "Wildtern";
    font-size: 2rem;
}

@media screen and (max-width: 768px) {
    .newsPaperMainHeader {
        flex-direction: column;
    }
}

.borderLine {
    border: 0.25rem solid #757163;
    margin-left: 1rem;
    margin-right: 1rem;
}

.titles {
    display: flex;
    justify-content: space-evenly;
    padding: 2rem;
    font-family: "Wildtern";
    font-size: 1.5rem;
    flex-wrap: wrap;
}

.title {

    text-align: center;
}

@media screen and (max-width: 768px) {
    .titles {
        flex-direction: column;
        justify-content: center;
    }

    .title {
        width: 100%;
    }

}

.linkLogo {
    height: 6rem;
    padding-bottom: 1rem;
}

.linkLogo:hover {
    height: 6rem;
    border-bottom: solid black 1px;
}

@media screen and (min-width: 768px) {
    .introBodyContainer {
        display: grid;
        grid-template-columns: 40% 60%;
        grid-template-rows: 1fr;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .introBodyContainer {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: center;
    }
}

.powerful {
    font-size: 4rem;
    background: linear-gradient(to right, #ff7e5f, #c0ad00);
    background-clip: text;
    color: transparent;
}

.interactive {
    font-size: 4rem;
    color: #cc4b00;
}

.creativity {
    font-size: 4rem;
    color: #0081CC;
}

.aboutMeWords {
    border-right: solid black 1px;
}

.wildternHeader {
    font-family: "Wildtern";
    font-size: 3rem;
}

.aboutMe {
    margin-top: 1rem;
    padding: 2rem;
    text-align: center;
    width: 100%;
}

.specialTaylor {
    font-family: "Falkosta";
    font-size: 4rem;
}

.taylorDescription {
    font-family: "Wildtern";
    font-size: 2rem;
    width: 100%;
    word-break: break-word;
}

.imageBox {
    display: flex;
    border: solid 1px black;
    width: 70%;
    aspect-ratio: 1 / 1;
    margin: auto;
    justify-content: center;
    align-items: flex-end;
    background-image: url("trapped.gif");
    background-size: contain;
    filter: grayscale(1) blur(2px) contrast(1.2) sepia(1);
}

@media screen and (min-width: 768px) {
    .technologies {
        padding-top: 5rem;
        display: flex;
        justify-content: space-between;
        text-align: center;
        flex-wrap: wrap;
    }
}

@media screen and (max-width: 768px) {
    .technologies {
        padding-top: 5rem;
        display: flex;
        justify-content: center;
        text-align: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
}


.subheader {
    font-family: "Wildtern";
    font-size: 2rem;
    width: 45%;
}

@media screen and (max-width: 768px) {
    .subheader {
        width: 100%;
    }
}

.logoContainer {
    white-space: nowrap;
    width: 100%;
    overflow-x: hidden;
    margin: auto;
}

.logos {
    display: inline-block;
    will-change: transform;
    overflow-x: hidden;
    animation: slide 8s infinite linear;
}

.logoImg {
    padding: 1rem;
    height: 5rem;
}

.wanted {
    position: absolute;
    font-family: "Wildtern";
    text-align: center;
    font-size: 8vw;
    color: white;
}

.imgDivider {
    height: 6rem;
    width: 100%;
    border: solid 0.1rem rgba(0, 0, 0, 0.25);
    margin-top: 1rem;
    margin-bottom: 1rem;
}

.imgDividerimg {
    object-fit: cover;
    width: 100%;
    height: 100%;
    filter: grayscale(1) blur(1px) contrast(1.2) sepia(1);
    mask: radial-gradient(#000, #0009);
    opacity: 0.6;

}

@keyframes slide {
    from {
        transform: translateX(0)
    }

    to {
        transform: translateX(-100%);
    }

}

.project {
    aspect-ratio: 1 / 1;
    width: 100%;
    border: solid 1px black;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    text-align: center;
    cursor: pointer;
    filter: grayscale(1) blur(2px) contrast(1.2);
    object-fit: cover;
    transition: all 5s !important;
    background-size: 100%;
    color: rebeccapurple;
}

.project:hover {
    filter: saturate(100%) brightness(100%) contrast(1);
}

.projectContainer {
    text-align: center;
}

.projectsContainer {
    font-family: "Wildtern";
    background-image: url("pureGrain.svg");
}

.projectsHeader {
    font-size: 8vw;
    padding: 5rem;
    word-break: break-word;
    width: 100%;
}

@media screen and (min-width: 768px) {

    .projectFlex {
        display: flex;
        justify-content: space-around;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
    }

}

@media screen and (max-width: 768px) {
    .projectFlex {
        display: flex;
        justify-content: center;
        align-items: center;
        align-content: center;
        flex-wrap: wrap;
        flex-direction: column;
    }
}

.projectsGrid {
    width: 25%;
    aspect-ratio: 1 / 1;
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 1rem;
    padding: 1rem;
}

@media screen and (max-width: 768px) {
    .projectsGrid {
        width: 90%;
    }
}

.projectDisplay {
    display: flex;
    width: 40%;
    border: solid 1px black;
    border-radius: 2rem;
    padding: 1rem;
    object-fit: cover;
}

@media screen and (max-width: 768px) {
    .projectDisplay {
        width: 90%;
    }
}

.projectDisplay {
    display: block;
    border: solid 1px black;
    height: fit-content;
}

.projectDisplay .details {
    text-align: center;
    height: fit-content;
    font-family: "Falkosta";
    line-height: 4rem;
    padding: 1rem;
}

.projectDisplay .details .title {
    font-size: 4rem;
    text-decoration: underline;
}

.projectDisplay .details .description {
    font-size: clamp(1rem, 2vw, 5rem);
}

.second>.grid {
    display: grid;
    grid-template-columns: 70% 30%;
}

.projectDisplay>.second>.grid>.projectImg {
    border: solid 1px black;
    border-radius: 2rem;
    aspect-ratio: 1 / 1;
    width: 90%;
    margin: auto;
    filter: grayscale(1);
    background-size: 100%;
}

.projectDisplay>.second>.grid>.projectImg:hover {
    border: solid 1px black;
    border-radius: 2rem;
    aspect-ratio: 1 / 1;
    width: 90%;
    margin: auto;
    filter: none;
}

.gizmos {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.techs {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 0.5rem;
}

.techs img {
    width: 45%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border: solid 1px black;
    border-radius: 50%;
    padding: 0.25rem;
    filter: grayscale(1);
}

.techs img:hover {
    width: 45%;
    aspect-ratio: 1 / 1;
    object-fit: contain;
    border: solid 1px black;
    border-radius: 50%;
    padding: 0.25rem;
    filter: none;
    animation: spin 5s infinite linear;
}

.arrow {
    cursor: pointer;
}

.left {
    transform: rotate(180deg);
    float: left;
}

.right {
    justify-self: flex-end;
    float: right;
}

@keyframes spin {
    from {
        transform: rotate(0deg);
    }

    to {
        transform: rotate(360deg);
    }
}

.links {
    display: flex;
    padding-top: 1rem;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.links a {
    cursor: pointer;
}

.github {
    width: 70%;
    word-break: break-word;
}

.websiteLink img {
    filter: grayscale(1);
}

.websiteLink img:hover {
    filter: none;
}

.radio {
    width: 100%;
    height: 100%;
    border: solid 1px black;
    padding: 0.5rem;
    font-size: clamp(0.5rem, 1vw, 1.5rem);
}

.FM {
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid 1px black;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.radioButton {
    aspect-ratio: 1 / 1;
    width: 10%;
    border-radius: 50%;
    border: solid 1px black;
    margin: auto;
    cursor: pointer;
}

.radioButton:hover {
    background-color: blanchedalmond;
}

.radioControls {
    display: flex;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.radioControls img {
    width: 50%;
}

.caret {
    width: 3px;
    height: 100%;
    position: absolute;
    left: 0;
    background-color: black;
    opacity: 0.5;
}

.amfmcontroller {
    position: relative;
}

.radioWrapper {
    width: 20vw;
    height: fit-content;
}

.radio {
    width: 100%;
    height: fit-content;
    border: solid 1px black;
    padding: 1rem;
}

.FM {
    display: flex;
    justify-content: space-evenly;
    border-bottom: solid 1px black;
    margin-bottom: 1rem;
    margin-top: 1rem;
}

.radioControls {
    display: flex;
    justify-content: center;
}

.radioButton {
    aspect-ratio: 1 / 1;
    width: 10%;
    border-radius: 50%;
    border: solid 1px black;
    margin: auto;
    cursor: pointer;
}

.caret {
    width: 1rem;
    height: 4rem;
    position: absolute;
    left: 0;
    background-color: black;
    opacity: 0.75;
}

.amfmcontroller {
    width: 100%;
    height: 100%;
}
