@font-face {
    font-family: "Courier Prime Bold";
    src: url("./Courier_Prime/CourierPrime-Bold.ttf");
};

@font-face {
    font-family: "Courier Prime Regular";
    src: url("./Courier_Prime/CourierPrime-Regular.ttf");
}
body{
    background: url("./grain.svg"); 
}

